<h3>Edit Invoice</h3>
<div ng-if="invoiceEdit != null">

    <br/>Invoice No : <input type="text" ng-model="invoiceEdit.invoiceNo">
    <br/>Invoice amount : <input type="text" ng-model="invoiceEdit.amount">
    <br/><input type="button" value="Cancel" onclick="window.location='#/listInvoices'">
    <input type="button" value="Save" ng-click="updateInvoice()">
</div>
<div ng-if="invoiceEdit == null">
    Sorry Unable to find the record you are trying to edit
    <input type="button" value="Save" ng-click="updateInvoice()">
</div>
