<h3>Invoice List</h3>
<style>
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Invoice Number</th>
        <th>Amount</th>
    </tr>
    <tr ng-repeat="invoice in invoices">
        <td><a class="extra-space" href="#/invoice/{{invoice.id}}/edit">{{invoice.id}}</a></td>
        <td>{{invoice.invoiceNo}}</td>
        <td>{{invoice.amount}}</td>
        <td><input type="button" value="Delete" ng-click="deleteInvoice({{invoice.id}})"></td>
    </tr>
</table>

<input type="button" value="Add Invoice" onclick="window.location='#/addInvoice'">