<h3>Add Invoice</h3>
<div>

    <br/>Invoice No : <input type="text" ng-model="invoiceCreate.invoiceNo">
    <br/>Invoice amount : <input type="text" ng-model="invoiceCreate.amount">
    <br/><input type="button" value="Cancel" onclick="window.location='#/listInvoices'">
    <input type="button" value="Save" ng-click="createInvoice()">
</div>